.howtopay {
    --grid-gap: 0.5rem;
    --font-size-small: 1.3rem;
}

.howtopay .box-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: var(--grid-gap);
    align-items: flex-start;
    justify-content: center;
    background: var(--background);
}

.howtopay .box {
    text-align: left;
    height: 100%;
    padding: 1rem 2rem;
    color: var(--white);
    border-right: var(--border);
}

.howtopay .box i {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 1rem;
    background: var(--gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.howtopay .box h3 {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin: 0.5rem 0;
    font-size: 1.6rem;
    font-weight: 300;
    white-space: nowrap;
}

.howtopay .box p,
.howtopay ol {
    font-size: var(--font-size-small);
}

.howtopay ul li {
    margin-left: 2rem;
}

@media (max-width: 991px) {
    .howtopay .box {
        border-right: none;
        border-top: var(--border);
        border-bottom: var(--border);
    }

    .howtopay .box-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}