#app-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--background);
    z-index: 1000;
}

#app-header .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

#app-header .brand,
#app-header .center,
#app-header .end {
    display: flex;
    align-items: center;
}

#app-header .br {
    border-top: var(--border);
}

#app-header .brand img {
    height: 3rem;
    cursor: pointer;
    pointer-events: none;
}

#app-header .text {
    display: block;
    font-size: 1.8rem;
    margin: 0 0.8rem;
    color: var(--light-white);
    transition: color 0.3s;
    cursor: pointer;
}

#app-header .text.active,
#app-header .text:hover {
    color: var(--white);
}

#app-header .text i {
    margin-right: 0.5rem;
    transition: transform 0.3s;
}

#app-header .text.active i,
#app-header .text:hover i {
    transform: scale(1.2);
}

#app-header .menu {
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#app-header .menu .text-menu {
    margin-right: 3rem;
    transition: opacity 0.3s;
}

#app-header .menu .icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4.5rem;
    transition: margin 0.3s;
}

#app-header .menu:hover .icon {
    margin-left: 0;
}

#app-header .menu:hover .text-menu {
    opacity: 0;
}

#app-header .menu .fa-bars-staggered,
#app-header .memu .fa-times {
    font-size: 2rem;
}

@media (min-width: 2560px) {
    #app-header .text {
        font-size: 2rem;
    }
}

@media (max-width: 991px) {
    #app-header .flex {
        position: relative;
        padding: 0 1.5rem;
        justify-content: space-between;
    }

    #app-header .center,
    #app-header .end {
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 0;
        overflow: hidden;
        background-color: var(--black);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: max-height 0.3s, clip-path 0.3s;
    }

    #app-header .end.active {
        z-index: 999;
    }

    #app-header .center.active,
    #app-header .end.active {
        max-height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #app-header .text {
        display: block;
        font-size: 1.6rem;
        color: var(--white);
        margin: 1.5rem 2.5rem;
    }

    #app-header .menu {
        display: inline-flex;
        padding: 1rem 3rem;
    }

    #app-header .fa-times {
        transform: rotate(90deg);
    }
}

@media (max-width: 768px) {
    #app-header .brand img {
        max-height: 6rem;
    }

    #app-header .text {
        font-size: 1.4rem;
    }
}